#rns-connections a {
  text-decoration: none;
}

#rns-connections-view .spinner {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.rns-available-connections,
.rns-connections {
  margin: 20px 0;
}

.rns-available-connection,
.rns-connection {
  border-bottom: 1px solid #ddd;
  background: #eee;
  padding: 8px 4px;
}

.sortable-handle {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 10px;
}

.rns-available-connection:hover {
  cursor: pointer;
  background: #ddd;
}

.rns-connection:hover .sortable-handle {
  background: transparent url("../images/sort.png") no-repeat center center;
}

.sortable-handle:hover {
  cursor: move;
}

.rns-add-connection,
.rns-remove-connection {
  padding: 8px;
}

#rns_transmissions_info .form-group {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}

#rns_transmissions_info .for-group {
  float: left;
  padding: 0 1em 0 0;
  width: 120px;
}

#rns_transmissions_info .for-option {
  display: block;
  margin-left: 140px;
}

#rns_transmissions_info textarea,
#rns_transmissions_info input[type="text"] {
  width: 100%;
  max-width: 250px;
}
#rns_transmissions_info textarea {
  min-height: 80px;
}

.rns-create-connections {
  display: none;
  margin: 20px 0;
}
